/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Optimisation des marges et tailles de typos pour chaque navigateur au démarrage */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Définition de la police personnalisée */


@font-face {
    font-family: 'robotobold';
    src: url('../fonts/Roboto-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Mise en forme général*/

h1, h2 {
	font-family: 'robotobold';
}

body {
	background-color: rgb(36,36,36);
	font-family: 'robotoregular';
	max-width: 100%;
	width: 100%;
}

/* Mise en forme principal du container */
#page-container {
	max-width: 100%;
	width: 100%;
	margin: auto;
}

/****** Mise en forme du header ******/
header {
	max-width: 100%;
	width: 100%;
	background-color: rgb(220,29,34);
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 10px;
}

header img {
	/*border: 3px solid black;*/
	max-width: 100%;
	width: 35%;
	height: auto;
}

header h1 {
	border: 4px solid grey;
	color: white;
	font-weight: bold;
	font-size: 3em;
	background-color: rgb(36,36,36);
	padding:20px 10px;
	border-radius: 20px;
	font-style: italic;
}

/************* MISE EN FORME DU SLIDER ***********/
#diaporama {
	/*border: 3px solid orange;*/
	max-width: 100%;
	width: 60%;
	/* cache les éléments qui dépassent du conteneur */
	overflow: hidden;
	margin-top: 10px;
	margin-top: 0px;
	position: relative;
}

#diaporama h2 {
	display: none;
}

#slider {
	position: relative;
	/*border: 3px solid black;*/
}

#slides {
	/*border: 3px solid blue;*/
	position: relative;
	left:0%;
	width: 300%;
	display: flex;
}

#diaporama figure {
	/*border: 3px solid red;*/
	max-width: 100%;
	width: 100%;
	height: auto;
}

#diaporama figure img{
	/*border: 3px solid green;*/
	width: 100%;
	height: auto;
}


/*Suppession des legendes de l'image*/
#diaporama figcaption {
	display: none;
}

/***** MISE EN PLACE DES CHEVRONS *****/

.chevrons {
	/*border: 3px solid red;*/
	width: 100%;
	display: flex;
	position: absolute;
	top:42%;
	z-index: 3;
}

#left_chevron  {
	display: flex;
	align-items: center;
	position: absolute;
	left: -40px;
	border-radius: 100%;
	background:white;
	opacity: 0.8;
	border: 1px solid rgb(233,127,105);
	width: 70px;
	height: 70px;
	color: white;
	cursor: pointer;
}

#right_chevron {
	display: flex;
	align-items: center;
	position: absolute;
	right: -40px;
	border-radius: 100%;
	background:white;
	opacity: 0.8;
	border: 1px solid rgb(233,127,105);
	width: 70px;
	height: 70px;
	color: white;
	cursor: pointer;
}

#left_chevron  .fa-chevron-left{
	font-size: 2em;
	margin-right: 10px;
	color: rgb(233,127,105);
}

#right_chevron .fa-chevron-right{
	font-size: 2em;
	margin-left: 10px;
	color: rgb(233,127,105);
}

/* Mise en forme du bouton pause*/

#slider-pause {
	/*border:3px solid blue;*/
	position: absolute;
	top: 42%; 
	left: 48%;
	z-index: 3;
	display: none;
}

#diaporama:hover #slider-pause {
	display: block;
	cursor: pointer;
}

.fa-pause-circle {
	font-size: 6em;
	color: white;
}

.fa-play {
	position: absolute;
	left:2px;
	font-size: 6em;
	color: white;
}

#play{
	display:none;
}

#pause {
	display:block;
}


/****** MISE EN FORME DU CONTENEUR PRINCIPAL ********/

#principal-containner {
	/*border: 3px solid black;*/
	max-width: 100%;
	width: 60%;
	display: flex;
	/*justify-content: space-between;
	align-items: center;*/
	margin-top: 20px;
	margin-bottom: 10px;
}

/*Mise en forme du conteneur contenant la carte*/
#bike-maps {
/*border: 3px solid orange;*/
	max-width: 100%;
	width: 75%;
	/* cache les éléments qui dépassent du conteneur */
	overflow: hidden;
	height: 400px;
}

/*Mise en forme du formulaire de réservation*/
#reservation-bike {
	border: 3px solid grey;
	max-width: 100%;
	width: 25%;
	border-radius: 20px;
	margin-left: 20px;
	background-color: rgb(220,29,34);
	color: white;
}

h2 {
	text-align: center;
	font-weight:bold;
	font-size: 1.5em;
	border:3px solid grey;
	background-color: rgb(36,36,36);
	padding-top: 5px;
	padding-bottom: 5px; 
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 20px;
}

#infoStation {
	margin-top: 20px;
	margin-left: 20px;
	font-weight: bold;
	color: rgb(36,36,36);
	padding-bottom: 20px;
	max-width: 100%;
	width: 100%;
	display: none;
}

#formulaireReservation {
	max-width: 100%;
	width: 100%;
	color: rgb(36,36,36);
	margin-left: 20px;
	margin-right: 10px;
	display: none;
}

.form-reservation {
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.1em;
	margin-right: 20px;
}

#nom {
	max-width: 100%;
	width: 50%;
}

#prenom {
	max-width: 100%;
	width: 50%;
	margin-bottom: 10px;
}

#boutonReservation {
	cursor: pointer;
	color: white;
	border-radius: 10px;
	border: 3px solid grey;
	background-color: rgb(36,36,36);
	padding: 4px 4px;
	margin-bottom: 10px;	
}

/****** Mise en forme du footer ******/

footer {
	max-width: 100%;
	width: 100%;
	background-color: rgb(220,29,34);
	height: 150px;
	padding-top: 20px;	
	padding-bottom: 20px;
}

footer div {
	max-width: 100%;
	width:50%;
	background-color: rgb(36,36,36);
	height: 150px;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	font-family: sans-serif;
	border: 4px solid grey;
}


/*NE PAS OUBLIER DE LES REMPLIR*/

#information-reservation {

}

#temps-restant {

}

.wrapper {
  position: relative;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:400px;
  height:200px;
}


/*responsive tablette*/
@media screen and (max-width: 1024px) {

	/****** Mise en forme du header ******/
	header {
		flex-direction: column; 
	}

	header img {
		margin-bottom: 10px;
		margin-top: 10px;	
	}
	header h1 {
		font-size: 2.2em;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	/************* MISE EN FORME DU SLIDER ***********/
	#diaporama {
		width: 80%;
	}

	.fa-pause-circle {
		font-size: 3.5em;
	}

	.fa-play {
		font-size: 3.5em;
	}
	
	/****** MISE EN FORME DU CONTENEUR PRINCIPAL ********/
	#principal-containner {
		width: 80%;
	}

	#bike-maps {
		width: 65%;
	}

	#reservation-bike {
		width: 35%;
	}

	/* MISE EN FORME DU FOOTER*/
	footer div {
		width:80%;
	}

}

/*responsive mobile*/
@media screen and (max-width: 480px) {

	/****** Mise en forme du header ******/
	header h1 {
		font-size: 1.2em;
		margin-bottom: 10px;
		margin-top: 10px;
		text-align: center;
	}

	/************* MISE EN FORME DU SLIDER ***********/
	#diaporama {
		width: 80%;
	}

	.fa-pause-circle {
		font-size: 2em;
	}

	.fa-play {
		font-size: 2em;
	}


	/*Réductions des chevrons*/

	#left_chevron  {
		left: -17px;
		width: 35px;
		height: 35px;
	}

	#right_chevron {
		right: -17px;
		width: 35px;
		height: 35px;
	}

	#left_chevron  .fa-chevron-left{
		font-size: 1em;
	}

	#right_chevron .fa-chevron-right{
		font-size: 1em;
	}
  	
	/****** MISE EN FORME DU CONTENEUR PRINCIPAL ********/
	#principal-containner {
		display: flex;
		flex-direction: column;
	}

	#bike-maps {
		width: 100%;
	}

	#reservation-bike {
		margin-top: 20px;
		margin-left: 0px;
		width: 100%;
	}
}